<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Users</title>
</head>
<body>
<h2 align="center">Users</h2>
<table border="1" align="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Age</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <table>
                <tr th:each="role : ${user.roles}">
                    <td th:text="${role.name}"></td>
                </tr>
            </table>
        </td>
        <td><a th:href="@{admin/delete/{id}(id=${user.id})}">Удалить</a></td>
        <td><a th:href="@{admin/update/{id}(id=${user.id})}">Изменить</a></td>
    </tr>
    </tbody>
</table>
</div>
<p align="center"><a href="/admin/registration">Регистрация</a></p>
<p align="center"><a href="/logout">Выйти из системы</a></p></div>
</body>
</html>